 <div class="user-details">
  <h2> Real world problems. State of the art solutions.</h2>
  <p> Our team has been wrangling real world data for over ten years in medical and financial settings.
    We believe that Machine Learning and Artificial Intelligence, when applied with a down-to-earth mindset, can 
    catalyze watershed changes in how businesses function.
  </p>
  <p>
    We deliver modern Articial Intelligence and Machine Learning solutions and upskilling to businesses:
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Processing</h2>
      <i class="fa fa-database" aria-hidden="true"></i>
      <i class="fa fa-table" aria-hidden="true"></i>
      <p>Automate your data pipelines and cleaning; save time, and improve quality of you processes.</p>
    </div>
    <div class="tech">
      <h2>Language: Text and Speech</h2>
      <i class="fa fa-align-justify" aria-hidden="true"></i>
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
      <p>Process, classify, and extract information from text and audio data. Transform your interfaces with speech recognition.</p>
    </div>
    <div class="tech">
      <h2>Image Understanding</h2>
      <i class="fa fa-camera" aria-hidden="true"></i>
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
