<div class="user-details">
  <h1> Our Toolset </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/pytorch.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Deep Learning </h3>
    <p>We </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/scikit-learn.png" | prepend: site.baseurl }}" />
    <img alt="mountains" src="{{ "/assets/img/spacy.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Machine Learning</h3>
    <p>We also </p>
  </div>
</div>
